.header {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu {
  list-style: none;
  display: flex;
  gap: 25px;
}
.menu__link {
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu__link.active {
  transition: all 0.3s ease;
  color: black;
  border-bottom: 1px solid black;
}
